a:focus {
    color: white;
}

.header-info {
    display: flex;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.paper-block {
    padding: 5px;
    background: rgba(0,0,0,0.65);
    position: relative;
    margin-bottom: 15px;
}

.paper-block h3 {
    margin-top: 10px;
}

.left-menu h1 {
    text-transform: none;
}

.left-menu {    
    margin-top: 25px;
}

.white-text span, 
.white-text h4 {
    color: white!important;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: white;
}

.sale-block {
    background: #d41944;
    color: white;
    position: absolute;
    left: 0px;
    padding: 5px 45px;
}

.logo-mobile-container {
    text-align: center;
}

.logo-mobile-container .logo {
    margin-right: 0px;
    background-size: 410px;
    width: 60px;
    height: 67px;
}

.toolbar-icon-right {
    text-align: right;
    margin-right: 15px;
}

.toolbar-icon-left {
    text-align: left;
    margin-left: 15px;
}

.toolbar-icon {
    margin-top: 21px;
}

.toolbar-icon span {
    font-size: 30px;
    color: white;
}

.drawer-container {
    display: none;
}

.drawer-nav {
    z-index: 200;
}

.drawer-container {
    z-index: 200;
    margin-top: 8px;
    margin-left: 15px
}

.drawer-overlay {
    z-index: 100;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: #fff;
}

.sphere .divider {
    width: 100%;
    margin-left: 0px;
}

.advantage-block {
    text-align: center;
}

.why-we .top {
    background-position: center;
}

.question {
    background-size: auto 100%;
}

.main {
    background-size: auto 100%;
}

.contact-form-7-wrapper {
    display: none!important;
}

.timer .sub-title.empty {
    margin-bottom: 10px;
}

.left-menu a {
    color: white!important;
    text-decoration: none;
}

.page404,
.page-content {
    background: url(../img/bg3.jpg);
    position: relative;
    padding-top: 50px;
    padding-bottom: 120px;
    overflow: hidden;
}

.size-big {
    font-size: 50px;
}

.page404:after,
.page-content:after {
    content: '';
    background: url(../img/projects-bottom.png);
    width: 100%;
    height: 92px;
    background-position: center top;
    position: absolute;
    bottom: -10px;
}

.panorama input[type=text] {
    height: 40px;
    width: 230px;
}

.panorama input[type="submit"] {
    height: 40px;
    width: 230px;
    line-height: 40px;
}

.wrapper-panorama-form .sub-title.empty {
    margin-bottom: 10px;
    margin-top: 30px;
}

.wrapper-panorama-form .text-sale {
    font-size: 18px;
    padding: 0px 30px;
}

.wrapper-panorama-form h1 {
    font-size: 25px;
    margin-left: 75px;
}

.wrapper-panorama-form .wrapper {
    width: 550px;
}

.label-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.custom-hidden {
    display: none;
}

.bottom-margin-small {
    margin-bottom: 10px!important;
}

.access-input-container {
    display: flex;
    justify-content: center;
}

#panorama-personal-information, 
#access-personal-information, 
#question-personal-information {
    display: none;
}

.nav_page:focus,
.nav_page_link:focus {
    text-decoration: none;
}

.main-background-position {
    background-position: -95px 0px;
}

.sale-text {
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    .main {
        background-position: center top;
    }
}

@media (max-width: 1200px) {
    .desctop-nav .nav_page {
        font-size: 14px;
    }
    .header .address {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .access-input-container {
        flex-direction: column;
    }
    .header {
        height: 72px;
        min-height: 72px;
    }
    .drawer-container {
        display: block;
    }
    .projects .slide li {
        height: auto;
    }
    .slider-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .projects .info {
        margin-left: 0px;
        width: 100%;
    }
    .projects-image {
        text-align: center;
    }
    footer .top {
        height: inherit;
        text-align: center;
    }
    footer .marketing-logo {
        float: inherit;
        margin-bottom: 20px;
    }
    .advantages .advantage {
        margin-bottom: 20px;
    }
    .why-we .top:before {
        display: none;
    }
    .question .wrapper {
        width: initial;
    }
    .input-mobile {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .why-we .additional + .additional {
        margin-top: 15px;
    }
}

@media (max-width: 700px) { 
    .why-we .additional {
        float: left;
    }
    .why-we .additional + .additional {
        margin-left: 5px;
    }
    .box-modal .divider:before {
        display: none;
    }
    .box-modal {
        width: 100%;
    }
    .box-modal form {
        width: inherit;
    }
    .main form {
        width: inherit;
    }
    .main .wrapper {
        width: inherit;
    }
}

@media (max-width: 767px) {
    .tabs .tab {
        width: 40%;
    }
}